
@font-face {
    font-family: 'Balqis';
    src: url('Balqis.eot');
    src: url('Balqis.eot?#iefix') format('embedded-opentype'),
        url('Balqis.woff2') format('woff2'),
        url('Balqis.woff') format('woff'),
        url('Balqis.ttf') format('truetype'),
        url('Balqis.svg#Balqis') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: Balqis;
    font-size: 250px;
    line-height: 334.25px;
    text-align: center;
}
p {
    font-family: "Roboto Condensed", sans-serif;
}